* {
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3 {
    font-weight: 300 !important;
    color: #0c0c0c;
}

p {
    color: #0c0c0c;
}

a {
    color: #2977C9;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #5f7892 !important;
    transition-duration: .2s;
}

i.text-muted:focus,
i.text-muted:hover {
    color: #0c0c0c !important;
    transition-duration: .2s;
}

.black {
    color: black !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.xsmall-text {
    font-size: 16px;
    color: #0c0c0c;
}


.line-20 {
    line-height: 20px;
}

.hr-short {
    border: 4px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 40px;
    text-align: left;
    margin-left: 0;
  }


.text-primary {
    color: #0c0c0c !important;
}

.text-muted {
    color: #5f7892!important;
}


.bg-light {
    background: rgba(235,240,247,0.80) !important;
}

.container-light {
    background: #fafbfd;
}

.container-m {
    background: #D5BFFD;
}

.container-r {
    background: #FFEAB2;
}

.container-p {
    background: #D5FDAB;
}

.container-sg {
    background: #FEDCAB;
}

.container-bq {
  /*background: #FD4C87;*/
  background: #A73159;
}

.container-ip {
    background: #1CA8FC;
}

.container-rd {
    background: #00cbff;
}


.feature-container {
    position: relative;
    width: 100%;
  }
  
  .feature-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  
  .feature-container:hover .feature-image {
    opacity: 0;
    cursor: pointer;
  }
  
  .feature-container:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
  
  .feature-text {
    color: #fff;
    font-size: 50px;
  }

  .feature-headline {
    color: #fff;
    font-size: 16px;
  }

  .navbar-light .navbar-toggler {
      border: none;
  }

  .feature-container a {
    background-color: #00cbff;
    display: block;
    .bg-sg & {
        background-color: #d58308;
    }
    .bg-ip & {
        background-color: #054e76;
    }  
    .bg-ml & {
        background-color: #57319e;
    }
    .bg-ph & {
        background-color: #5fa80b;
    }
    .bg-bq & {
        background-color: #d99a97;
    }
    .bg-r & {
        background-color: #cba531;
    }
    .bg-rd & {
        background-color: #0db1da;
    }  
  }

@media (max-width: 767.98px) { 
    .h3 {
        font-size: 1.35rem !important;
    }
    .h4 {
        font-size: 1.15rem !important;
    }
    .feature-container {
        width: 100%;
    }
    .feature-text {
        font-size: 40px;
      }
    
    .feature-headline {
        font-size: 14px;
    }
    .navbar-nav {
        flex-direction: row;
    }
 }

 .navbar-nav {
    flex-direction: row;
}


/* slider */

#radancy .slick-slider {
    margin-bottom: 0;
}

#radancy .slick-next .slick-next-icon, .slick-next .slick-prev-icon, .slick-prev .slick-next-icon, .slick-prev .slick-prev-icon {
    color: #004085;
}
#radancy .slick-autoplay-toggle-button {
    color: #004085;
}

#radancy .slick-prev .slick-prev-icon {
    color: #004085;
}

.slick-slide img {
    max-width: 100%;
    max-height: 200px;
}

.slick-track {
    display: flex !important;
    align-items: center;
}

.slick-slide {
    max-height: 215px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.radancy-container {
    min-height: 350px;
    background-color: #00cbff;
    align-items: center;
    display: flex;
    justify-content: center;
        transition: .5s ease;
    &:hover {
        background-color: #0db1da;
            transition: .5s ease;
    }
}





    .mockup-m {
        display: none;
    }
    .mockup-d {
        display: flex;
    }    
@media (max-width: 991px) { 
    .mockup-d {
        display: none;
    }
    .mockup-m {
        display: flex;
    }
    .radancy-container {
        padding: 40px 20px;
    }
}